/* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

input {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1157px) {
  .about .item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .about .item-text {
    font-weight: 500;
  }
}

.section-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ============ HEADER STYLES ============ */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .burger-btn {
    line-height: 0;
  }

  .nav-list,
  .page-address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .active-link {
    color: #404bbf;
    position: relative;
  }

  .active-link::after {
    content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1156px) {
  .page-address {
    display: block;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .page-header .page-logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1157px) {
  .address-list {
    display: flex;
    gap: 40px;
  }

  .page-header .page-logo {
    margin-right: 76px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
/* ============ HERO STYLES ============ */
.hero {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg-tel@2x.jpg');
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-btn {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desktop.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desktop@2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/* ============ ABOUT STYLES ============ */

.about-item-top {
  display: none;
}

@media screen and (max-width: 767px) {
  .about .item-title {
    text-align: center;
  }

  .about-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    column-gap: 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .about-list {
      row-gap: 72px;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1158px) {
  .about-item-top {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }

  .about-icon {
    display: block;
  }

  .about-item {
    width: calc((100% - 24px) / 4);
  }
}

/* ============ TEAM STYLES ============ */
.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-item-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover .icon-link {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.team .item-title,
.team .item-text {
  text-align: center;
}

.team .item-text {
  margin-bottom: 8px;
}

.icon {
  fill: #f4f4fd;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .team-container {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-container {
      padding-left: 108px;
      padding-right: 108px;
    }

    .team-list {
      flex-wrap: wrap;
      row-gap: 64px;
    }
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* ============ PORTFOLIO STYLES ============ */
.portfolio-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-bottom {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}

.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translatey(0%);
}

@media screen and (max-width: 767px) {
  .portfolio-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .thumb {
    width: 356px;
    height: 300px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .thumb {
    width: 360px;
    height: 300px;
  }
}

@media screen and (max-width: 1157px) {
  .portfolio-item {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ============ FOOTER STYLES ============ */
.page-footer {
  background-color: #2e2f42;
}

.page-footer .logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer .page-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.page-footer .icon-list {
  gap: 16px;
}

.footer-icon-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-user-email-input {
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-user-email-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgb(255, 255, 255, 0.6);
}

.subscribe-user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-user-btn:hover,
.subscribe-user-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .page-footer {
    text-align: center;
  }

  .footer-text {
    text-align: start;
  }

  .footer-left-side {
    margin-bottom: 72px;
  }

  .footer-social {
    margin-bottom: 72px;
  }

  .subscribe-user-email-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .subscribe-user-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .subscribe-user-email-input {
    width: 264px;
  }

  .tablet-top-side-wrapper {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding-left: 108px;
    padding-right: 164px;
  }

  .tablet-top-side-wrapper {
    gap: 24px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-left-side {
    margin-right: 120px;
  }

  .tablet-top-side-wrapper {
    margin-right: 80px;
  }

  .subscribe-user-email-input {
    border-color: #ffffff;
  }

  .subscribe-user-email-input::placeholder {
    color: #ffffff;
  }
}

/* ============ MODAL OVERLAY ============ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  border-radius: 4px;
  max-height: 100%;
  overflow-y: auto;
  width: 288px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit-button:hover .modal-exit-icon {
  fill: #ffffff;
}

.modal-exit-button:focus .modal-exit-icon {
  fill: #ffffff;
}

.modal-exit-button:hover,
.modal-exit-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.form-field {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  cursor: pointer;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  background-color: transparent;
}

.form-input:focus {
  border-color: #4d5ae5;
}

.input-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.textarea-form-field {
  margin-bottom: 16px;
}

.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus::placeholder {
  color: #4d5ae5;
}

.form-checkbox-wrapper {
  margin-bottom: 24px;
}

.form-own-chechbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
}

.form-own-chechbox {
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input:checked + .form-checkbox-label > .form-own-chechbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.form-checkbox-input:focus + .form-checkbox-label > .form-own-chechbox {
  outline: 1px solid blue;
}

.form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-send-button {
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-button:hover,
.form-send-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
/* ============ MOB MENU STYLES ============ */
@media screen and (max-width: 767px) {
  .mob-menu {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    background-color: #ffffff;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open {
    visibility: visible;
    opacity: 1;
  }

  .mob-menu-container {
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .mob-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgb(46, 47, 66, 0.1);
    background-color: rgba(231, 233, 252, 0.1);
  }

  .mob-menu-nav {
    margin-bottom: auto;
  }

  .mob-menu-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mob-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mob-nav-active-link {
    color: #404bbf;
  }

  .mob-menu-address {
    margin-bottom: 48px;
  }

  .mob-menu-address-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mob-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mob-address-active-link {
    color: #4d5ae5;
  }

  .mob-social-icon-list {
    display: flex;
    justify-content: space-between;
  }

  .mob-social-icon-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
