/* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

input {
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ============ ABOUT STYLES ============ */

@media screen and (max-width: 1157px) {
  .about .item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .about .item-text {
    font-weight: 500;
  }
}

/* ============ FOOTER STYLES ============ */

@media screen and (min-width: 1158px) {
  .page-footer.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
